body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

}

.clock{

    /*background-color: red;*/
}

.timeZones{
    position: absolute;
    z-index: 200;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/*Fonts*/
@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/Digital-7.woff2') format('woff2'),
    url('../fonts/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
